:root { 
--gray_600:#757575; 
--gray_700:#646464; 
--black_900_c4:#000000c4; 
--blue_gray_100:#d9d9d9; 
--blue_gray_50:#f1f1f1; 
--black_900_9e:#0000009e; 
--blue_gray_100_28:#d9d9d928; 
--black_900_3f:#0000003f; 
--green_700:#17b127; 
--black_900_b5:#000000b5; 
--gray_50:#f8f8f8; 
--gray_100:#f5f5f5; 
--black_900_42:#00000042; 
--green_A700:#29ea3d; 
--black_900:#000000; 
--indigo_400_d8:#427ebed8; 
--indigo_800_db:#225081db; 
--white_A700:#ffffff; 
--indigo_800:#225081; 
--black_900_68:#00000068; 
--black_900_59:#00000059; 
}